@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_default_styles {
  --mixin-cKAfqA-EN4HU_font-family: "Geist Sans";
  --mixin-cKAfqA-EN4HU_font-size: 14px;
  --mixin-cKAfqA-EN4HU_font-weight: 500;
  --mixin-cKAfqA-EN4HU_font-style: normal;
  --mixin-cKAfqA-EN4HU_color: var(--token-nxgj4HT_seIz);
  --mixin-cKAfqA-EN4HU_text-align: left;
  --mixin-cKAfqA-EN4HU_text-transform: none;
  --mixin-cKAfqA-EN4HU_line-height: 20px;
  --mixin-cKAfqA-EN4HU_letter-spacing: normal;
  --mixin-cKAfqA-EN4HU_white-space: pre-wrap;
  --mixin-cKAfqA-EN4HU_user-select: text;
  --mixin-cKAfqA-EN4HU_text-decoration-line: none;
  --mixin-e0s4WJtn8NfF_color: #000000;
  --mixin-e0s4WJtn8NfF_font-weight: 600;
  --mixin-e0s4WJtn8NfF_font-size: 40px;
  --mixin-e0s4WJtn8NfF_line-height: 1;
  --mixin-e0s4WJtn8NfF_letter-spacing: -1px;
  --mixin-e0s4WJtn8NfF_white-space: pre-wrap;
  --mixin-vqqhkaiUjXHX_color: #000000;
  --mixin-vqqhkaiUjXHX_font-size: 30px;
  --mixin-vqqhkaiUjXHX_font-weight: 600;
  --mixin-vqqhkaiUjXHX_line-height: 1.1;
  --mixin-vqqhkaiUjXHX_white-space: pre-wrap;
  --mixin-0xDnPO3MBblV_color: #0070f3;
  --mixin-0xDnPO3MBblV_white-space: pre-wrap;
  --mixin-ok4mymXVE9Fn_color: #000000;
  --mixin-ok4mymXVE9Fn_font-size: 24px;
  --mixin-ok4mymXVE9Fn_font-weight: 600;
  --mixin-ok4mymXVE9Fn_line-height: 1.2;
  --mixin-ok4mymXVE9Fn_white-space: pre-wrap;
  --mixin-eoJrE5nQhhJq_color: #000000;
  --mixin-eoJrE5nQhhJq_font-size: 20px;
  --mixin-eoJrE5nQhhJq_font-weight: 600;
  --mixin-eoJrE5nQhhJq_line-height: 1.3;
  --mixin-eoJrE5nQhhJq_white-space: pre-wrap;
  --mixin-xJGtzYNbNVHr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xJGtzYNbNVHr_border-bottom-color: #dddddd;
  --mixin-xJGtzYNbNVHr_border-bottom-style: solid;
  --mixin-xJGtzYNbNVHr_border-bottom-width: 1px;
  --mixin-xJGtzYNbNVHr_border-left-color: #dddddd;
  --mixin-xJGtzYNbNVHr_border-left-style: solid;
  --mixin-xJGtzYNbNVHr_border-left-width: 1px;
  --mixin-xJGtzYNbNVHr_border-right-color: #dddddd;
  --mixin-xJGtzYNbNVHr_border-right-style: solid;
  --mixin-xJGtzYNbNVHr_border-right-width: 1px;
  --mixin-xJGtzYNbNVHr_border-top-color: #dddddd;
  --mixin-xJGtzYNbNVHr_border-top-style: solid;
  --mixin-xJGtzYNbNVHr_border-top-width: 1px;
  --mixin-xJGtzYNbNVHr_border-bottom-left-radius: 3px;
  --mixin-xJGtzYNbNVHr_border-bottom-right-radius: 3px;
  --mixin-xJGtzYNbNVHr_border-top-left-radius: 3px;
  --mixin-xJGtzYNbNVHr_border-top-right-radius: 3px;
  --mixin-xJGtzYNbNVHr_font-family: "Inconsolata";
  --mixin-xJGtzYNbNVHr_padding-bottom: 1px;
  --mixin-xJGtzYNbNVHr_padding-left: 4px;
  --mixin-xJGtzYNbNVHr_padding-right: 4px;
  --mixin-xJGtzYNbNVHr_padding-top: 1px;
  --mixin-xJGtzYNbNVHr_white-space: pre-wrap;
  --mixin-DMePTmL_ykap_border-left-color: #dddddd;
  --mixin-DMePTmL_ykap_border-left-style: solid;
  --mixin-DMePTmL_ykap_border-left-width: 3px;
  --mixin-DMePTmL_ykap_color: #888888;
  --mixin-DMePTmL_ykap_padding-left: 10px;
  --mixin-DMePTmL_ykap_white-space: pre-wrap;
  --mixin-XvBmYfrff7jY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XvBmYfrff7jY_border-bottom-color: #dddddd;
  --mixin-XvBmYfrff7jY_border-bottom-style: solid;
  --mixin-XvBmYfrff7jY_border-bottom-width: 1px;
  --mixin-XvBmYfrff7jY_border-left-color: #dddddd;
  --mixin-XvBmYfrff7jY_border-left-style: solid;
  --mixin-XvBmYfrff7jY_border-left-width: 1px;
  --mixin-XvBmYfrff7jY_border-right-color: #dddddd;
  --mixin-XvBmYfrff7jY_border-right-style: solid;
  --mixin-XvBmYfrff7jY_border-right-width: 1px;
  --mixin-XvBmYfrff7jY_border-top-color: #dddddd;
  --mixin-XvBmYfrff7jY_border-top-style: solid;
  --mixin-XvBmYfrff7jY_border-top-width: 1px;
  --mixin-XvBmYfrff7jY_border-bottom-left-radius: 3px;
  --mixin-XvBmYfrff7jY_border-bottom-right-radius: 3px;
  --mixin-XvBmYfrff7jY_border-top-left-radius: 3px;
  --mixin-XvBmYfrff7jY_border-top-right-radius: 3px;
  --mixin-XvBmYfrff7jY_font-family: "Inconsolata";
  --mixin-XvBmYfrff7jY_padding-bottom: 3px;
  --mixin-XvBmYfrff7jY_padding-left: 6px;
  --mixin-XvBmYfrff7jY_padding-right: 6px;
  --mixin-XvBmYfrff7jY_padding-top: 3px;
  --mixin-XvBmYfrff7jY_white-space: pre-wrap;
  --mixin-J5ud-Lz6_nad_display: flex;
  --mixin-J5ud-Lz6_nad_flex-direction: column;
  --mixin-J5ud-Lz6_nad_align-items: stretch;
  --mixin-J5ud-Lz6_nad_justify-content: flex-start;
  --mixin-J5ud-Lz6_nad_list-style-position: outside;
  --mixin-J5ud-Lz6_nad_padding-left: 40px;
  --mixin-J5ud-Lz6_nad_position: relative;
  --mixin-J5ud-Lz6_nad_list-style-type: disc;
  --mixin-J5ud-Lz6_nad_white-space: pre-wrap;
  --mixin-cS9D9Dnzm4Io_display: flex;
  --mixin-cS9D9Dnzm4Io_flex-direction: column;
  --mixin-cS9D9Dnzm4Io_align-items: stretch;
  --mixin-cS9D9Dnzm4Io_justify-content: flex-start;
  --mixin-cS9D9Dnzm4Io_list-style-position: outside;
  --mixin-cS9D9Dnzm4Io_padding-left: 40px;
  --mixin-cS9D9Dnzm4Io_position: relative;
  --mixin-cS9D9Dnzm4Io_list-style-type: decimal;
  --mixin-cS9D9Dnzm4Io_white-space: pre-wrap;
  --mixin-eGrx13IJxK0j_color: #000000;
  --mixin-eGrx13IJxK0j_font-size: 16px;
  --mixin-eGrx13IJxK0j_font-weight: 600;
  --mixin-eGrx13IJxK0j_line-height: 1.5;
  --mixin-eGrx13IJxK0j_white-space: pre-wrap;
  --mixin-lOB3fg0rEne6_color: #000000;
  --mixin-lOB3fg0rEne6_font-size: 14px;
  --mixin-lOB3fg0rEne6_font-weight: 600;
  --mixin-lOB3fg0rEne6_line-height: 1.5;
  --mixin-lOB3fg0rEne6_white-space: pre-wrap;
  --mixin-FjvK2jWtSe4m_color: #3291ff;
  --mixin-FjvK2jWtSe4m_white-space: pre-wrap;
  --mixin-tnShYrV_Mk0s_white-space: pre-wrap;
  --mixin-Uq90J6dErY-F_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cKAfqA-EN4HU_font-family);
  font-size: var(--mixin-cKAfqA-EN4HU_font-size);
  font-weight: var(--mixin-cKAfqA-EN4HU_font-weight);
  font-style: var(--mixin-cKAfqA-EN4HU_font-style);
  color: var(--mixin-cKAfqA-EN4HU_color);
  text-align: var(--mixin-cKAfqA-EN4HU_text-align);
  text-transform: var(--mixin-cKAfqA-EN4HU_text-transform);
  line-height: var(--mixin-cKAfqA-EN4HU_line-height);
  letter-spacing: var(--mixin-cKAfqA-EN4HU_letter-spacing);
  white-space: var(--mixin-cKAfqA-EN4HU_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-e0s4WJtn8NfF_color);
  font-weight: var(--mixin-e0s4WJtn8NfF_font-weight);
  font-size: var(--mixin-e0s4WJtn8NfF_font-size);
  line-height: var(--mixin-e0s4WJtn8NfF_line-height);
  letter-spacing: var(--mixin-e0s4WJtn8NfF_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-vqqhkaiUjXHX_color);
  font-size: var(--mixin-vqqhkaiUjXHX_font-size);
  font-weight: var(--mixin-vqqhkaiUjXHX_font-weight);
  line-height: var(--mixin-vqqhkaiUjXHX_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-0xDnPO3MBblV_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ok4mymXVE9Fn_color);
  font-size: var(--mixin-ok4mymXVE9Fn_font-size);
  font-weight: var(--mixin-ok4mymXVE9Fn_font-weight);
  line-height: var(--mixin-ok4mymXVE9Fn_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-eoJrE5nQhhJq_color);
  font-size: var(--mixin-eoJrE5nQhhJq_font-size);
  font-weight: var(--mixin-eoJrE5nQhhJq_font-weight);
  line-height: var(--mixin-eoJrE5nQhhJq_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-xJGtzYNbNVHr_font-family);
  border-radius: var(--mixin-xJGtzYNbNVHr_border-top-left-radius)
    var(--mixin-xJGtzYNbNVHr_border-top-right-radius)
    var(--mixin-xJGtzYNbNVHr_border-bottom-right-radius)
    var(--mixin-xJGtzYNbNVHr_border-bottom-left-radius);
  padding: var(--mixin-xJGtzYNbNVHr_padding-top)
    var(--mixin-xJGtzYNbNVHr_padding-right)
    var(--mixin-xJGtzYNbNVHr_padding-bottom)
    var(--mixin-xJGtzYNbNVHr_padding-left);
  border-top: var(--mixin-xJGtzYNbNVHr_border-top-width)
    var(--mixin-xJGtzYNbNVHr_border-top-style)
    var(--mixin-xJGtzYNbNVHr_border-top-color);
  border-right: var(--mixin-xJGtzYNbNVHr_border-right-width)
    var(--mixin-xJGtzYNbNVHr_border-right-style)
    var(--mixin-xJGtzYNbNVHr_border-right-color);
  border-bottom: var(--mixin-xJGtzYNbNVHr_border-bottom-width)
    var(--mixin-xJGtzYNbNVHr_border-bottom-style)
    var(--mixin-xJGtzYNbNVHr_border-bottom-color);
  border-left: var(--mixin-xJGtzYNbNVHr_border-left-width)
    var(--mixin-xJGtzYNbNVHr_border-left-style)
    var(--mixin-xJGtzYNbNVHr_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-DMePTmL_ykap_color);
  padding-left: var(--mixin-DMePTmL_ykap_padding-left);
  border-left: var(--mixin-DMePTmL_ykap_border-left-width)
    var(--mixin-DMePTmL_ykap_border-left-style)
    var(--mixin-DMePTmL_ykap_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XvBmYfrff7jY_font-family);
  border-radius: var(--mixin-XvBmYfrff7jY_border-top-left-radius)
    var(--mixin-XvBmYfrff7jY_border-top-right-radius)
    var(--mixin-XvBmYfrff7jY_border-bottom-right-radius)
    var(--mixin-XvBmYfrff7jY_border-bottom-left-radius);
  padding: var(--mixin-XvBmYfrff7jY_padding-top)
    var(--mixin-XvBmYfrff7jY_padding-right)
    var(--mixin-XvBmYfrff7jY_padding-bottom)
    var(--mixin-XvBmYfrff7jY_padding-left);
  border-top: var(--mixin-XvBmYfrff7jY_border-top-width)
    var(--mixin-XvBmYfrff7jY_border-top-style)
    var(--mixin-XvBmYfrff7jY_border-top-color);
  border-right: var(--mixin-XvBmYfrff7jY_border-right-width)
    var(--mixin-XvBmYfrff7jY_border-right-style)
    var(--mixin-XvBmYfrff7jY_border-right-color);
  border-bottom: var(--mixin-XvBmYfrff7jY_border-bottom-width)
    var(--mixin-XvBmYfrff7jY_border-bottom-style)
    var(--mixin-XvBmYfrff7jY_border-bottom-color);
  border-left: var(--mixin-XvBmYfrff7jY_border-left-width)
    var(--mixin-XvBmYfrff7jY_border-left-style)
    var(--mixin-XvBmYfrff7jY_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-J5ud-Lz6_nad_display);
  flex-direction: var(--mixin-J5ud-Lz6_nad_flex-direction);
  align-items: var(--mixin-J5ud-Lz6_nad_align-items);
  justify-content: var(--mixin-J5ud-Lz6_nad_justify-content);
  list-style-position: var(--mixin-J5ud-Lz6_nad_list-style-position);
  padding-left: var(--mixin-J5ud-Lz6_nad_padding-left);
  position: var(--mixin-J5ud-Lz6_nad_position);
  list-style-type: var(--mixin-J5ud-Lz6_nad_list-style-type);
  flex-column-gap: var(--mixin-J5ud-Lz6_nad_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-cS9D9Dnzm4Io_display);
  flex-direction: var(--mixin-cS9D9Dnzm4Io_flex-direction);
  align-items: var(--mixin-cS9D9Dnzm4Io_align-items);
  justify-content: var(--mixin-cS9D9Dnzm4Io_justify-content);
  list-style-position: var(--mixin-cS9D9Dnzm4Io_list-style-position);
  padding-left: var(--mixin-cS9D9Dnzm4Io_padding-left);
  position: var(--mixin-cS9D9Dnzm4Io_position);
  list-style-type: var(--mixin-cS9D9Dnzm4Io_list-style-type);
  flex-column-gap: var(--mixin-cS9D9Dnzm4Io_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-eGrx13IJxK0j_color);
  font-size: var(--mixin-eGrx13IJxK0j_font-size);
  font-weight: var(--mixin-eGrx13IJxK0j_font-weight);
  line-height: var(--mixin-eGrx13IJxK0j_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-lOB3fg0rEne6_color);
  font-size: var(--mixin-lOB3fg0rEne6_font-size);
  font-weight: var(--mixin-lOB3fg0rEne6_font-weight);
  line-height: var(--mixin-lOB3fg0rEne6_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-FjvK2jWtSe4m_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
