.mainSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
.appShell:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.freeBox__bEyaE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__bEyaE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__bEyaE > :global(.__wab_flex-container) > *,
.freeBox__bEyaE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bEyaE > :global(.__wab_flex-container) > picture > img,
.freeBox__bEyaE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__kGUaE {
  font-size: 28px;
  line-height: 38px;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
}
.text__pkqa3 {
  font-family: "Geist Sans";
  font-size: 14px;
  font-weight: 400;
  color: var(--token-n3trVzkrA_FT);
  line-height: 20px;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.registerModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__bJj2B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.statForm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___2Kqzx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2Kqzx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox___2Kqzx > :global(.__wab_flex-container) > *,
.freeBox___2Kqzx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Kqzx > :global(.__wab_flex-container) > picture > img,
.freeBox___2Kqzx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text__moMvy {
  font-family: "Geist Sans";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-n3trVzkrA_FT);
  min-width: 0;
}
.freeBox__j3Fv3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__j3Fv3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__j3Fv3 > :global(.__wab_flex-container) > *,
.freeBox__j3Fv3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j3Fv3 > :global(.__wab_flex-container) > picture > img,
.freeBox__j3Fv3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.callsMade:global(.__wab_instance) {
  max-width: 100%;
}
.callsMadeInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bLyBb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.callsAnswered:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.callsAnsweredInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iwvgv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.callsMoney:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.callsMoneyInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__psyHa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__psyHa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox__psyHa > :global(.__wab_flex-container) > *,
.freeBox__psyHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__psyHa > :global(.__wab_flex-container) > picture > img,
.freeBox__psyHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text__vrqXp {
  font-family: "Geist Sans";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-n3trVzkrA_FT);
  min-width: 0;
}
.freeBox__hsJ46 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hsJ46 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__hsJ46 > :global(.__wab_flex-container) > *,
.freeBox__hsJ46 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hsJ46 > :global(.__wab_flex-container) > picture > img,
.freeBox__hsJ46
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.lettersMade:global(.__wab_instance) {
  max-width: 100%;
}
.letterMadeInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__idwns {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lettersAnswered:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.lettersAnsweredInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dcVj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lettersMoney:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.lettersMoneyInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__qa6Ns {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qa6Ns > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox__qa6Ns > :global(.__wab_flex-container) > *,
.freeBox__qa6Ns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qa6Ns > :global(.__wab_flex-container) > picture > img,
.freeBox__qa6Ns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text___8R7Rv {
  font-family: "Geist Sans";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-n3trVzkrA_FT);
  min-width: 0;
}
.freeBox___6YBsQ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6YBsQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___6YBsQ > :global(.__wab_flex-container) > *,
.freeBox___6YBsQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6YBsQ > :global(.__wab_flex-container) > picture > img,
.freeBox___6YBsQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.mlsProperties:global(.__wab_instance) {
  max-width: 100%;
}
.mlsPropertiesInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pyOue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lettersProperties:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.lettersPropertiesInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6Q9JF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.callsProperties:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.callsPropertiesInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___9TF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___9TF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox___9TF > :global(.__wab_flex-container) > *,
.freeBox___9TF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9TF > :global(.__wab_flex-container) > picture > img,
.freeBox___9TF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text__poekn {
  font-family: "Geist Sans";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-n3trVzkrA_FT);
  min-width: 0;
}
.freeBox___48X4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___48X4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___48X4 > :global(.__wab_flex-container) > *,
.freeBox___48X4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___48X4 > :global(.__wab_flex-container) > picture > img,
.freeBox___48X4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.offersMadeMls:global(.__wab_instance) {
  max-width: 100%;
}
.offersMadeMlsInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__aYEpr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.offersMadeLetters:global(.__wab_instance) {
  max-width: 100%;
}
.offersMadeLettersInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mLAmr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.offersMadeCalls:global(.__wab_instance) {
  max-width: 100%;
}
.offersMadeCallsInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uB24U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zwJag {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(10px + 6px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__zwJag > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zwJag > :global(.__wab_flex-container) > *,
.freeBox__zwJag > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zwJag > :global(.__wab_flex-container) > picture > img,
.freeBox__zwJag
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.offersApprovedMls:global(.__wab_instance) {
  max-width: 100%;
}
.offersApprovedMlsInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__auOfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.offersApprovedLetters:global(.__wab_instance) {
  max-width: 100%;
}
.offersApprovedLettersInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pRylj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.offersApprovedCalls:global(.__wab_instance) {
  max-width: 100%;
}
.offersApprovedCallsInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mNhLi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.deals:global(.__wab_instance) {
  max-width: 100%;
  margin-top: calc(10px + 6px) !important;
  width: 204px;
}
.dealsInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rfC5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__n13Dm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: calc(20px + 20px) !important;
}
.button__czEsk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px 0px;
}
.stats {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.statistic___3Au2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic__liqKq:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic__t8FLe:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic__rBtff:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic__mibT:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic__zcCtz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic__uxi8B:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.statistic___4YZdn:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.charts {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 16px;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.card__ocoeJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chart__lftku:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.card__u8OL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1KeYe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1KeYe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___1KeYe > :global(.__wab_flex-container) > *,
.freeBox___1KeYe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1KeYe > :global(.__wab_flex-container) > picture > img,
.freeBox___1KeYe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__hvmoB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xBgcd {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -22px;
  top: 50%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  color: var(--token-ZDcvRU4gUKFH);
  font-size: 12px;
}
.chart__wQZiA:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-left: 25px;
  min-width: 0;
}
.freeBox___9EpSv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___9QBlJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__y2WE0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.freeBox__oxqp {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___52B4Z {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___8JNn8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.card___0Ujl8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vpSrA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vpSrA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vpSrA > :global(.__wab_flex-container) > *,
.freeBox__vpSrA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vpSrA > :global(.__wab_flex-container) > picture > img,
.freeBox__vpSrA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox___3Oeqs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__kg8Rz {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -17px;
  top: 50%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  color: var(--token-ZDcvRU4gUKFH);
  font-size: 12px;
}
.chart___5HJcb:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-left: 25px;
  min-width: 0;
}
.freeBox__cDItb {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__eAbLi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__ug4I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.freeBox__f7PxR {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__zcEba {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__pcdgW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.freeBox__zpjY5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 40px;
  min-width: 0;
  padding: 0px;
}
.freeBox__zpjY5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zpjY5 > :global(.__wab_flex-container) > *,
.freeBox__zpjY5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zpjY5 > :global(.__wab_flex-container) > picture > img,
.freeBox__zpjY5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.card___3VUd1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chart__ukpLq:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.card__vS9Q0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chart__xj8Sa:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.resetConfirmation:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___23XtV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__yCwEr {
  font-weight: 400;
  color: var(--token-n3trVzkrA_FT);
}
.text__rRuBg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-n3trVzkrA_FT);
  text-decoration-line: underline !important;
  cursor: pointer;
}
.freeBox__h3Ax7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__h3Ax7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__h3Ax7 > :global(.__wab_flex-container) > *,
.freeBox__h3Ax7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h3Ax7 > :global(.__wab_flex-container) > picture > img,
.freeBox__h3Ax7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__atSdp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 353px;
  flex-shrink: 0;
}
.button__cWrgZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
