.navigationMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 275px;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-DbGdjBpQ6R_X);
  min-height: 100vh;
  padding: 0px;
  border-right: 1px solid var(--token-Pxe4wDL2kJpb);
}
.topSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 8px;
}
.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 8px 8px 16px;
}
.menuItem__nzBji:global(.__wab_instance) {
  position: relative;
  margin-top: 4px;
  flex-shrink: 0;
}
.svg__hYyoJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
}
.menuGroup__tqd0D:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0000000d;
  margin-top: auto;
  min-width: 0;
  padding: 8px;
  border-top: 1px solid var(--token-Pxe4wDL2kJpb);
}
