.menuItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36px;
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 6px;
  padding: 12px;
  border: 1px solid #d9d9d900;
}
.menuItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.menuItem > :global(.__wab_flex-container) > *,
.menuItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuItem > :global(.__wab_flex-container) > picture > img,
.menuItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.menuItemisActive {
  background: var(--token-Yq556PvPjGii);
  border-color: var(--token-Pxe4wDL2kJpb);
}
.menuItem:hover {
  background: #0000000f;
}
.slotTargetIcon2 {
  color: var(--token-n3trVzkrA_FT);
}
.slotTargetIcon2isActive {
  color: var(--token-nxgj4HT_seIz);
}
.svg__hj9Hd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.slotTargetLabel {
  font-weight: 400;
  color: var(--token-n3trVzkrA_FT);
  white-space: pre;
}
.slotTargetLabel > :global(.__wab_text),
.slotTargetLabel > :global(.__wab_expr_html_text),
.slotTargetLabel > :global(.__wab_slot-string-wrapper),
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetLabel > *,
.slotTargetLabel > :global(.__wab_slot) > *,
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetLabel > picture > img,
.slotTargetLabel > :global(.__wab_slot) > picture > img,
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetLabelisActive {
  font-weight: 500;
  color: var(--token-nxgj4HT_seIz);
}
