@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff) format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff) format('woff');
}

ul.ant-menu.ant-menu-root.ant-menu-vertical {
  border: none;
}

.ant-menu-item {
  width: 100% !important;
  padding: 0 12px !important;
  border-radius: 6px !important;
}

.ant-input-group-wrapper,
.ant-input,
.ant-input-number {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
}

.ant-input-group-wrapper-sm .ant-input,
.ant-input-password-small,
.ant-input-sm,
.ant-input-number-sm {
  line-height: 32px !important;
  font-size: 14px !important;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 34px;
  max-height: 34px;
}

.ant-input-group-wrapper .ant-input,
.ant-input-password-middle,
.ant-input,
.ant-input-number {
  line-height: 36px;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
  min-height: 38px;
  max-height: 38px;
}

.ant-input-group-wrapper-lg .ant-input,
.ant-input-password-large,
.ant-input-lg,
.ant-input-number-lg {
  line-height: 42px !important;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 44px;
  max-height: 44px;
}

.ant-input-password input {
  letter-spacing: 2px;
}

.ant-divider-inner-text {
  color: var(--plasmic-token-gray-6);
  font-weight: 400;
}

.vizion-animated-number {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--plasmic-token-black);
}

.vizion-select:hover {
  border-color: var(--antd-colorInfoTextHover);
}

.vizion-select.focused {
  border-color: var(--antd-colorInfo);
  box-shadow : 0 0 0 2px rgba(5, 145, 255, 0.1);
}

.ant-card-body {
  padding : 0 !important;
}

.ant-message {
  display: none;
}

.ant-divider {
  border-block-start: 1px solid var(--antd-colorBorder) !important;
}

.ant-tabs-nav::before {
  border-bottom-color: var(--antd-colorBorder) !important;
}

.ant-tabs-tab {
  color: var(--plasmic-token-gray-6) !important;
}

.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}